/*-------------------- standard styles for websites --------------------*/
body {
  font-family: "Roboto", sans-serif;
  background-color: #f1f1f1;
  color: #313639;
}

.container {
  border: 1px solid pink;
  /*
  margin-top: 100px;*/
}

ul.social-links {
  list-style: none;
  /* border: 1px solid red; */
  padding: 0;
}

ul.social-links li {
  display: inline;
}


/*--------------------- logo ----------------------------*/

.logo {
    height: 2.5rem;
}

/*--------------------- nav styles -----------------------*/
nav {
    background-color: #F4E0ED;
}

/*-------------------- fa icons --------------------*/

.fa {
    margin: 5px;
    margin-left:0;
    padding: 10px;
    font-size: 15px;
    height: auto;
    width: auto;
    text-align: center;
    text-decoration: none;
    border-radius: 25%;
}


.fa:hover {
    opacity: 0.7;
}

.fa-github {
    background: #f1502f;
    color: #fff;
}

.fa-linkedin {
    background: #0e76a8;
    color: #fff;
}

.fa-instagram {
    background: #fb3958;
    color: white;
}

.fa-facebook-f {
    background: #3b5998;
    color: white;
}


/*--------------------------- button styles----------*/

.btn-cv {
    color: #fff;
    background-color: #004E9A;
    width: 150px;
    /* margin-left: 2rem; */  
}
/*------------------navbar icon animination credit to mdbootstrap.com & styled to my own brand colours*/
.navbar-light .navbar-toggler {
  border: transparent;
  color: transparent;
}

.animated-icon2 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon2 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon2 span {
  background: linear-gradient(to left, #041b2d, #ea4492);
}

.animated-icon2 span:nth-child(1) {
  top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/*----------------------------------Home--------*/

.p-job-role {
    margin-top: 100px;
    font-size: 0.9rem;
}

.home-bg {
    width: 100%;
    /* height: 240px; */
    /* width: */
    /* right: 0; */
}

.home {
  margin-top: 100px;
}

/*-- Home animation---*/

#flip {
  height: 60px;
  overflow: hidden;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase; 
  
}

#flip > div > div {
  color: #fff;
  text-align: center;
  padding: 4px 12px;
  height: 55px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background: #42c58a;

}
#flip div:first-child div {
  background: #4ec7f3;
}
#flip div:last-child div {
  background: #dc143c;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

/*------------------ About  ----------*/
#about {
  background-color: #8b4c70;
  color: #f1f1f1;
  margin-top: 30px;
}

.card {
  background-color: transparent;
  border: 0;
}

/*-----------------------------Footer-----------*/
.footer {
  background-color: #522157;
  color: #f1f1f1;
  margin-top: 30px;
}


/*------------------ Responsive typography ----------*/
html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

/* Tablet */
@media (max-width: 992px) {
  .btn-cv {
    width: 100%;
  }
}