/*-------------------- standard styles for websites --------------------*/
body {
  font-family: "Roboto", sans-serif;
  background-color: #f1f1f1;
  color: #313639;
}

.container {
  border: 1px solid pink;
  /*
  margin-top: 100px;*/
}

.img-size {
  width: 100%;
}
ul.social-links {
  list-style: none;
  /* border: 1px solid red; */
  padding: 0;
}

ul.social-links li {
  display: inline;
}

/*
.col {
  border: 1px solid blue;
}

.row {
  border: 1px purple;
}

/*--------------------- logo ----------------------------*/

.logo {
  height: 2.5rem;
}

/*--------------------- nav styles -----------------------*/
nav {
  background-color: #f4e0ed;
}

/*-------------------- fa icons --------------------*/

.fa {
  margin: 5px;
  margin-left: 0;
  padding: 10px;
  font-size: 15px;
  height: auto;
  width: auto;
  text-align: center;
  text-decoration: none;
  border-radius: 25%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-github {
  background: #f1502f;
  color: #fff;
}

.fa-linkedin {
  background: #0e76a8;
  color: #fff;
}

.fa-instagram {
  background: #fb3958;
  color: white;
}

.fa-facebook-f {
  background: #3b5998;
  color: white;
}

/*--------------------------- button styles----------*/

.btn-cv {
  color: #fff;
  background-color: #004e9a;
  width: 150px;
  /* margin-left: 2rem; */
}
/*------------------navbar icon animination credit to mdbootstrap.com & styled to my own brand colours*/
.navbar-light .navbar-toggler {
  border: transparent;
  color: transparent;
}

.animated-icon2 {
  display: block;
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon2 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon2 span {
  background: linear-gradient(to left, #041b2d, #ea4492);
}

.animated-icon2 span:nth-child(1) {
  top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/*----------------------------------Home--------*/

.p-job-role {
  margin-top: 100px;
  font-size: 0.9rem;
}

.home-bg {
  width: 100%;
  /* height: 240px; */
  /* width: */
  /* right: 0; */
}

.home {
  margin-top: 100px;
}

/*-- Home animation---*/

#flip {
  height: 60px;
  overflow: hidden;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

#flip > div > div {
  color: #fff;
  text-align: center;
  padding: 4px 12px;
  height: 55px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background: #42c58a;
}
#flip div:first-child div {
  background: #4ec7f3;
}
#flip div:last-child div {
  background: #dc143c;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

/*------------------ About  ----------*/
#about {
  background-color: #8b4c70;
  color: #f1f1f1;
}

.card {
  background-color: transparent;
  border: 0;
}

/*-----------------------------Skills -------------*/

.progress-bar {
  background: linear-gradient(to left, #004e9a, #ea4492);
}

/*---------------------------Circle Donuts, credit from and amended to suit my style: https://codepen.io/sandersu/pen/gerEbM*/

@keyframes donut-chart-fill {
  to {
    stroke-dasharray: 0 100;
  }
}

.svg-item {
  height: 100px;
  font-size: 16px;
}
.donut-ring {
  stroke: #ebebeb;
}

.donut-segment {
  animation: donut-chart-fill 1s reverse ease-in;
  transform-origin: center;
  stroke: #ea4492;
}

.donut-text {
  font-family: Arial, Helvetica, sans-serif;
  fill: #ea4492;
}

.donut-label {
  font-size: 0.28em;
  font-weight: 700;
  line-height: 1;
  fill: #000;
  transform: translateY(0.25em);
}

.donut-percent {
  font-size: 0.5em;
  fill: #ea4492;
  line-height: 1;
  transform: translateY(0.5em);
}

/*----------------------------- Portfolio ---------*/

#portfolio {
  /*background-color: #91a3b4;*/
  background-color: #cca9bd;
}

/*-------------------------------Experience -----------*/

.dots {
  display: inline;
}
.experience-img {
  width: 100%;
}

.more {
  display: none;
}

.read {
  margin-top: 15px;
  background: linear-gradient(105deg, #ea4492, #522157);
  color: white;
  border: none;
  outline: none;
  padding: 8px 20px;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 15px;
  border-radius: 1rem;
  
}

.read:hover{
  color: white;
  
}
/*-------- Timeline --------*/

.timeline {
  list-style-type: none;
  position: relative;
}

/*verticle line*/
.timeline:before {
  content: "";
  background: #17a2b8;
  display: inline-block;
  position: absolute;
  left: 16px;
  width: 4px;
  height: 100%;
  z-index: 400;
  border-radius: 1rem;
}
.timeline-item {
  margin: 20px 0;
}

/*arrow*/
.timeline-arrow {
  border-top: 1rem solid transparent;
  border-right: 1rem solid #17a2b8;
  border-bottom: 1rem solid transparent;
  display: block;
  position: absolute;
  left: 2rem;
}

/*circle*/
.timeline-item::before {
  content: " ";
  background: #e4dfd9;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 5px solid #17a2b8;
  left: 8px;
  width: 20px;
  height: 20px;
  z-index: 400;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.timeline-purple {
  background-color: #8b4c70;
}

.style-none {
  list-style: none;
}

/*-----------------------------Contact-----------*/
/*
#contact {
  background: linear-gradient(105deg, #bd87a6, #e4dfd9);
}
*/

#contact {
  background-image: url('../images/vector_background.jpg');
  width: 100%;
  z-index: -400;
  background-size: cover;
  background-color: rgba(255,255,255,0.8);
    background-blend-mode: lighten;
}
*/

.form-width{
    padding-top: 10px;
    margin: 0 auto;
    max-width: 85%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #c2649a;
}

div .fa-paper-plane {
  font-size: 2.5rem;
  text-align: center;
  color: #c2649a;
}


.form-control:focus{
  border: 3px solid #c2649a;
  box-shadow: none;
  outline: 0 !important;
}

/*-----------------------------Contact Modal-----------*/
.modal-header {
  background-color: #c2649a;
  color: #ffffff;
}

/*-----------------------------Footer-----------*/
.footer {
  background-color: #522157;
  color: #f1f1f1;
  margin-top: 30px;
}

/*------------------ Responsive typography ----------*/

/* Tablet */
@media (max-width: 992px) {
  .btn-cv {
    width: 100%;
  }
}
