/*-------------------- standard styles for websites --------------------*/
html {
  scroll-behavior: smooth;
  font-size: 1rem;
  scroll-padding-top: 70px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f1f1f1;
  color: #313639;
  
}
/*
.container {
  border: 1px solid pink;
  /*
  margin-top: 100px;
  */

.img-size {
  width: 100%;
}
ul.social-links {
  list-style: none;
  /* border: 1px solid red; */
  padding: 0;
}

ul.social-links li {
  display: inline;
}

a {
  color: transparent;
}

h4 {
  letter-spacing: 0.1rem;
}
.vertical-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*--------------------- logo ----------------------------*/

.logo {
  height: 2.5rem;
}

/*--------------------- nav styles -----------------------*/
nav {
  background-color: #f4e0ed;
}

.nav-link {
  letter-spacing: 0.1rem;
}

.hvr-underline-from-center:before {
  background: #8b4c70;
}

.hvr-underline-from-center:after {
  background: #8b4c70;
}
/*-------------------- fa icons --------------------*/

.fa {
  margin: 5px;
  margin-left: 0;
  padding: 10px;
  height: auto;
  width: auto;
  text-align: center;
  text-decoration: none;
  border-radius: 25%;
  font-size: 1.5rem;
  color: #ffffff;
  background: #9589c1;
}

.fa:hover {
  background: #c2649a;
}

.fa-paper-plane {
  background: none;
}

.fa-paper-plane:hover {
  background: none;
}
/*--------------------------- Block ----------*/

.block {
  width: 70px;
  height: 5px;
  border: 0;
  background-color: #ea4492;
}

.block-short {
  width: 50px;
}

.block-left {
  float:left;
}
.block-light {
  background-color: #e4dfd9;
}

.block-blue {
  background-color: #428cd4;
}

.block-purple {
  background-color: #8b4c70;
}

/*------------------navbar icon animination credit to mdbootstrap.com & styled to my own brand colours*/
.navbar-light .navbar-toggler {
  border: transparent;
  color: transparent;
}

.animated-icon2 {
  display: block;
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon2 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon2 span {
  background: -webkit-gradient(linear, right top, left top, from(#041b2d), to(#ea4492));
  background: -o-linear-gradient(right, #041b2d, #ea4492);
  background: linear-gradient(to left, #041b2d, #ea4492);
}

.animated-icon2 span:nth-child(1) {
  top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/*----------------------------------Home--------*/

.p-job-role {
  margin-top: 100px;
  font-size: 0.9rem;
}

.home-bg {
  width: 100%;
  /* height: 240px; */
  /* width: */
  /* right: 0; */
}

.home {
  margin-top: 100px;
}

.standard-button {
  margin-top: 15px;
  display: block;
  background: -o-linear-gradient(345deg, #ea4492, #522157);
  background: linear-gradient(105deg, #ea4492, #522157);
  color: #ffffff;
  border: none;
  outline: none;
  padding: 8px 20px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.standard-button:hover {
  background: #a75784;
  color: #ffffff;
}

.title-role {
  letter-spacing: 0.15rem;
}

/*-- Home animation---*/

#flip {
  height: 45px;
  overflow: hidden;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

#flip > div > div {
  color: #fff;
  text-align: center;
  padding: 4px 12px;
  height: 55px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  -webkit-animation: show 5s linear infinite;
          animation: show 5s linear infinite;
}

#flip div div {
  background: #ea4492;
}
#flip div:first-child div {
  background: #428cd4;
}
#flip div:last-child div {
  background: #c2649a;
}

@-webkit-keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

/*------------------ About  ----------*/
#about {
  background-color: #8b4c70;
  color: #f1f1f1;
}

.card {
  background-color: transparent;
  border: 0;
}

.get-in-touch {
  text-decoration: none;
  color: #c1f7dc;
  font-weight: bold;
}

.get-in-touch:hover {
  text-decoration: underline;
  color: #8bb9e4;
}

.about-links {
  color: #f1f1f1;
}

.about-links:hover {
  color: #f1f1f1;
}

/*-----------------------------Skills -------------*/

.progress-bar {
  background: -webkit-gradient(linear, right top, left top, from(#004e9a), to(#ea4492));
  background: -o-linear-gradient(right, #004e9a, #ea4492);
  background: linear-gradient(to left, #004e9a, #ea4492);
}
.skill-title {
  letter-spacing: 0.04rem;
}

/*---------------------------Circle Donuts, credit from and amended to suit my style: https://codepen.io/sandersu/pen/gerEbM*/

@-webkit-keyframes donut-chart-fill {
  to {
    stroke-dasharray: 0 100;
  }
}

@keyframes donut-chart-fill {
  to {
    stroke-dasharray: 0 100;
  }
}

.svg-item {
  height: 100px;
  font-size: 16px;
  margin: 0.5rem;
}

.donut {
  margin-left: 0.2rem;
}

.donut-ring {
  stroke: #ebebeb;
}

.donut-segment {
  animation: donut-chart-fill 1s reverse ease-in;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  stroke: #ea4492;
}

.donut-text {
  fill: #ea4492;
}

.donut-label {
  font-size: 0.28em;
  font-weight: 700;
  line-height: 1;
  fill: #000;
  -webkit-transform: translateY(0.25em);
      -ms-transform: translateY(0.25em);
          transform: translateY(0.25em);
}

.donut-percent {
  font-size: 0.5em;
  fill: #ea4492;
  line-height: 1;
  -webkit-transform: translateY(0.5em);
      -ms-transform: translateY(0.5em);
          transform: translateY(0.5em);
  text-align: center;
}

/*----------------------------- Portfolio ---------*/

#portfolio {
  background-color: #cca9bd;
}

.portfolio-intro {
  letter-spacing: 0.05rem;
  color: #3a4144;
  font-size: 1.2rem;
}
.step {
  color: #004e9a;
}
.step-title {
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio-sub {
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
}

.portfolio-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*-------------------------------Experience -----------*/

.dots {
  display: inline;
}
.experience-img {
  width: 100%;
}

.more {
  display: none;
}

.read {
  margin-top: 15px;
  background: -o-linear-gradient(345deg, #ea4492, #522157);
  background: linear-gradient(105deg, #ea4492, #522157);
  color: white;
  border: none;
  outline: none;
  padding: 8px 20px;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 15px;
  border-radius: 1rem;
}

.read:hover {
  color: white;
}
/*-------- Timeline --------*/

.timeline {
  list-style-type: none;
  position: relative;
}

/*verticle line*/
.timeline:before {
  content: "";
  background: #17a2b8;
  display: inline-block;
  position: absolute;
  left: 16px;
  width: 4px;
  height: 100%;
  z-index: 400;
  border-radius: 1rem;
}
.timeline-item {
  margin: 20px 0;
}

/*arrow*/
.timeline-arrow {
  border-top: 1rem solid transparent;
  border-right: 1rem solid #17a2b8;
  border-bottom: 1rem solid transparent;
  display: block;
  position: absolute;
  left: 2rem;
}

/*circle*/
.timeline-item::before {
  content: " ";
  background: #e4dfd9;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 5px solid #17a2b8;
  left: 8px;
  width: 20px;
  height: 20px;
  z-index: 400;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.style-none {
  list-style: none;
}

/*-----------------------------Contact-----------*/

.form-width {
  padding-top: 10px;
  margin: 0 auto;
}

button[type="submit"] {
  margin-top: 15px;
  margin-bottom: 20px;
  color: #fafafa;
  background-color: #c2649a;
}

div .fa-paper-plane {
  font-size: 2.5rem;
  text-align: center;
  color: #c2649a;
}

.form-control:focus {
  border: 3px solid #c2649a;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0 !important;
}

.alert-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.alert-status {
  font-size: 1.1rem;
}

/*-----------------------------Contact Modal-----------*/
.modal-header {
  background-color: #c2649a;
  color: #ffffff;
}

.modal-footer button {
  background-color: #c2649a;
  color: white;
}

/*-----------------------------Footer-----------*/
.footer {
  background-color: #522157;
  color: #f1f1f1;
  margin-top: 30px;
}

.footer-button {
  background: #9589c1;
  display: inline-block;
  color: #f1f1f1;
}

.footer-button:hover {
  background: #c2649a;
  color: #f1f1f1;
}

.footer-copyright {
  font-size: 0.8rem;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
}


/*------------------ Media Queries ----------*/

/* Standard Styles */

@media (min-width: 320px) {
  .progress {
    margin-bottom: 0.4rem;
  }
}

@media (max-width: 766px) {
  .portfolio-img {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }
}

@media (min-width: 568px) and (max-width: 990px) {
  .tech-skills,
  .soft-skills,
  .portfolio-right,
  .portfolio-left {
    margin-left: 0 !important;
  }
}

@media (min-width: 584px) and (max-width: 990px) {
  .navbar-brand {
    margin-left: 0.5rem;
  }
}

@media (max-width: 766px) {
  .title-role {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  #home {
    margin-top: 5rem;
  }
}

@media (min-width: 768px) and (max-width: 769px) {
  .title-role {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
}

@media (min-width: 770px) and (max-width: 1199px) {
  .title-role {
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .name {
    font-size: 4rem;
  }

  .intro-text {
    font-size: 15px;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }

  #flip {
    font-size: 15px;
  }
  .fa-github,
  .fa-linkedin,
  .fa-instagram,
  .fa-facebook-square {
    font-size: 15px;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .about-height {
    height: 339px;
  }

  .navbar-brand {
    margin-left: 0rem !important;
  }
  .form-width {
    max-width: 85%;
  }

  .contact-img {
    width: 109%;
    height: 107%;
  }
}
@media (min-width: 1200px) {
  .title-role {
    font-size: 1.4rem;
    margin-top: 1rem;
  }
  .intro-text {
    font-size: 18px;
    margin-top: 20px;
  }

  #flip {
    font-size: 15px;
  }

  .name {
    font-size: 4.5rem;
  }

  .fa-github,
  .fa-linkedin,
  .fa-instagram,
  .fa-facebook-square {
    font-size: 18px;
    margin-top: 12px;
  }

  .standard-button {
    margin-top: 0.3rem;
  }

  .about-height {
    height: 269px;
  }
  .contact-img {
    width: 98.5%;
    height: 98.5%;
  }
}